body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

button {
    cursor: pointer;
}

h1 {
    text-align: center;
}

#navbar {
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#navbar > div {
    display: flex;
    justify-content: space-between;
}

#navbar > div > ul {
    display: flex;
    list-style: none;
}

#navbar > div > ul > li{
    cursor: pointer;
}

#navbar > div > ul > li > a{
    text-decoration: none;
    color: white;
}

#navbar > div > ul:nth-of-type(2) > li {
    margin-right: 14px;
}

#login_form, #signup_form {
    border: 1px solid rgb(124, 13, 13);
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    gap: 10px;
}

#login_form > input, #signup_form > input{
    padding: 10px;
}

#login_form > button, #signup_form > input{
    padding: 4px;
}

#menu {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 5%;
}

#menu > div {
    box-sizing: border-box;
    border: 1px solid rgba(136, 136, 136, 0.397);
    padding: 8px;
    background-color: rgba(255, 72, 0, 0.041);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    box-shadow: 0 0 10px rgba(233, 203, 192, 0.479);
}

#menu > div > p{
    margin: 0;
}

#menu > div > img{
    width: 100%;
}

#cart {
    display: flex;
}

#pricing {
    min-width: 20%;
    margin-left: 20px;
}